{
  "cniVersion": "0.4.0",
  "name": "bridge",
  "type": "bridge",
  "bridge": "cnio0",
  "isGateway": true,
  "ipMasq": true,  
  "ipam": {
    "type": "host-local",
    "ranges": [
      [{"subnet": "{{ node_pod_cidr }}"}]
     ],
    "routes": [{"dst": "0.0.0.0/0"}]
   }
}